<footer>
  <div class="copyright nav-structure">
    <small>2014 &copy; Amira Hailemariam</small>
  </div>

  <div class="soc-media-links nav-structure">
    <a href="https://twitter.com/amirahaile" target="_blank">Twitter</a>
    <a href="https://www.linkedin.com/in/amirahaile/" target="_blank">LinkedIn</a>
    <a href="http://amirahaile.tumblr.com/" target="_blank">Tumblr</a>
    <a href="http://instagram.com/amirahaile" target="_blank">Instagram</a>
    <a href="https://github.com/amirahaile" target="_blank">GitHub</a>
    <a href="http://codepen.io/amirahaile/" target="_blank">Codepen</a>
  </div>

</footer>